:root {
    font-family: cursive;
    --font-color: goldenrod;
    --button-font-color: gold;
    --button-color: midnightblue;
    --border-color: lightblue;
    --background-color: blue;
    color: var(--font-color);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

main {
    background: linear-gradient(var(--background-color), cyan);
    height: 100vh;
    width: 100vw;
    overflow:hidden;
}

.title, .buttons, #results, #reset-button {
    width: 30rem;
    margin: 0 auto;
}

.title {
    padding: 0 100px;
    font-size: 22px;
    background: var(--button-color);
    border: 2px solid var(--border-color);
    border-radius: 10px;
    opacity: 90%;
}

.buttons {
    display:flex;
    gap: 5rem;
}

#results, .buttons, #reset-button {
     margin-top: 5rem;
     margin-bottom: 5rem;
}

/* result section */
.choices div{
    display: flex;
    flex-direction: column;
    background: var(--button-color);
    width: 30%;
    gap: 12.5px;
    height: 5rem;
    border: 1px solid white;
}

.choices {
    display: flex;
    gap: 5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    background: var(--button-color);
    opacity: 80%;
    border: 1px solid lightblue;
    box-shadow: 0px 0px 5px 5px;
}

.choices h3 span {
    font-size: 30px;
}

#result {
    font-size: 28px;
}

/* buttons */
.rps, #reset {
    width: 100px;
    height: 100px;
    border: 1px solid lightblue;
    border-radius: 10px;
    font-size: 32px;
    background-color: midnightblue;
    color: gold;
    opacity: 60%;
    cursor: pointer;
}

.rps:hover, #reset:hover {
    opacity: 80%;
    transform: scaleX(1.05) scaleY(1.05);
    border: 3px solid gold;
    box-shadow: 0 0 5px 5px;
}

#reset-button {
    display:flex;
    justify-content: center;
}

/* win/lose style & animation style*/

#win-lose {
    display:flex;
    align-items: center;
    justify-content: center;
}

.win, .lose {
    width: 50%;
    font-size: 50px;
    text-align: center;
    background: var(--button-color);
    opacity: 80%;
}

.win {
    color: lime;
    box-shadow: 0px 0px 10px 10px lime;
    animation: winLose 3s 1 linear;
    
    position: absolute;
    bottom: 20vh;
    left:25vw;
    height: 150px;
}

.lose {
    position: absolute;
    top: 0px;
    left: 25vw;
    color: crimson;
    box-shadow: 0px 0px 10px 10px orangered;
    animation: loseWin 0.5s 1 linear;
    height: 150px;
    letter-spacing: 2px;
}

.scale {
    transform: scale(1.5,1.5);
}

.hide {
    visibility: hidden;
}

@keyframes winLose {
    25% {
        color: orange;   
        box-shadow: 0px 0px 5px 5px coral;
    }
    
    50% {
        color: gold;
        opacity: 100%;
        box-shadow: 0px 0px 10px 10px lime;
    }

    100% {
        transform: translate(0,-220px) scale(1.5,1.5);

    }
}

@keyframes loseWin {
    25% {
        color: maroon;   
    }
    
    50% {
        color: orangered;
    }  
    100% {
        transform: translate(0,325px) scale(1.5,1.5);
    }
}