:root {
    font-family: cursive;
    --font-color: goldenrod;
    --button-font-color: gold;
    --button-color: midnightblue;
    --border-color: lightblue;
    --background-color: blue;
    color: var(--font-color);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

main {
    background: linear-gradient(var(--background-color),var(--border-color));
    height: 100vh;
    width: 100vw;
}

.title, .buttons, #results, #reset-button {
    width: 30rem;
    margin: 0 auto;
}

.title {
    font-size: 22px;
}

.buttons {
    display:flex;
    gap: 5rem;
}

#results, .buttons, #reset-button {
     margin-top: 5rem;
}

/* result section */
.choices div{
    display: flex;
    flex-direction: column;
    background: var(--button-color);
    width: 30%;
    gap: 12.5px;
    height: 5rem;
    border: 1px solid white;
}

.choices {
    display: flex;
    gap: 5rem;
    text-align: center;
    background: var(--button-color);
    opacity: 80%;
    border: 1px solid lightblue;
    box-shadow: 0px 0px 5px 5px;
}

.choices h3 span {
    font-size: 30px;
}

/* buttons */
.rps, #reset{
    width: 100px;
    height: 100px;
    border: 1px solid lightblue;
    border-radius: 10px;
    font-size: 32px;
    background-color: midnightblue;
    color: gold;
    opacity: 60%;
    cursor: pointer;
}

.rps:hover, #reset:hover {
    opacity: 80%;
    transform: scaleX(1.05) scaleY(1.05);
    border: 3px solid gold;
    box-shadow: 0 0 5px 5px;
}

#reset-button {
    display:flex;
    justify-content: center;
}